/* Styling for the "Enroll Now" button with animation */
.enroll-button-container {
  text-align: center;
  margin-top: 20px;
}

.enroll-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #007BFF, #0056b3);
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #0056b3;
  border-radius: 30px;
 
  animation: pulse 3s infinite;

}

.enroll-button:hover {
  background: linear-gradient(to bottom, #0056b3, #007BFF);
  border: 2px solid #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  animation: none; /* Disable animation on hover */
}

@keyframes pulse {
  0% {
  background: linear-gradient(to bottom, #0056b3, #007BFF);

    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #5100b3bd, #ff0000aa);

  }
  100% {
    transform: scale(1);
  background: linear-gradient(to bottom, #0056b3, #007BFF);

  }
}
body{
padding-top: 6rem;
}
